{% extends 'kiss_cache/base.html' %}

{% block title %} - Home{% endblock %}

{% block nav_home %}active{% endblock %}

{% block style %}
    :root {
      --jumbotron-padding-y: 1rem;
    }
    .jumbotron {
      padding-top: var(--jumbotron-padding-y);
      padding-bottom: var(--jumbotron-padding-y);
      margin-bottom: 0;
      background-color: #fff;
    }
    @media (min-width: 768px) {
      .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
      }
    }
    .jumbotron p:last-child {
      margin-bottom: 0;
    }
    .jumbotron-heading {
      font-weight: 300;
    }
    .jumbotron .container {
      max-width: 40rem;
    }
{% endblock %}

{% block body %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>KissCache {{ version }}</h1>
    <p class="lead text-muted"><em>KissCache</em> is a pretty simple caching service.</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="resource url" aria-label="resource url" aria-describedby="cache-button" id="cache">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="cache-button" onclick="generate()">generate</button>
        <button class="btn btn-outline-success" type="button" id="fetch-button" onclick="fetch()">fetch</button>
        <button class="btn btn-outline-success" type="button" id="download-button" onclick="download()" style="display: none;">download</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Resources</h2>
    <p>List the resources currently cached.</p>
    <p><a href="{% url 'resources' %}" class="btn btn-primary my-2">Resources</a></p>
  </div>

  <div class="col">
    <h2>Statistics</h2>
    <p>Some statistics about this instance.</p>
    <p><a href="{% url 'statistics' %}" class="btn btn-primary my-2">Statistics</a></p>
  </div>

  <div class="col">
    <h2>Help</h2>
    <p>How to use this KissCache instance.</p>
    <p><a href="{% url 'help' %}" class="btn btn-primary my-2">Help</a></p>
  </div>


</div>
{% endblock body %}

{% block scripts %}
<script>
function generate() {
  var uri = document.getElementById("cache").value;
  var res = "{{ api_url }}?url=" + encodeURIComponent(uri);
  document.getElementById("cache").value = res;
  document.getElementById("fetch-button").style.display = "none";
  document.getElementById("download-button").style.display = "block";
}

function fetch() {
  var uri = document.getElementById("cache").value;
  var res = "{{ api_url }}?url=" + encodeURIComponent(uri);
  window.location = res;
}

function download() {
  var uri = document.getElementById("cache").value;
  window.location = uri;
}

var input = document.getElementById("cache");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   console.log(document.getElementById("fetch-button").style.display);
   if (document.getElementById("download-button").style.display == "none") {
     document.getElementById("fetch-button").click();
   } else {
     document.getElementById("download-button").click();
   }
  }
});
</script>
{% endblock %}
