{% extends 'kiss_cache/base.html' %}

{% block title %} - Statistics{% endblock %}

{% block nav_statistics %}active{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h2>Quota{% if quota <= 0 %} (disabled){% endif %}</h2>
    {% if quota > 0 %}
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-{{ progress_status }}" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
    </div>
    <p>Using {{ total_size|filesizeformat }} of {{ quota|filesizeformat }}.</p>
    {% else %}
    <p>Using {{ total_size|filesizeformat }}.</p>
    {% endif %}

    <h2>Network usage</h2>
    <p>KissCache has downloaded <span class="badge badge-pill badge-info" title="{{ download }}">{{ download|filesizeformat }}</span> and uploaded <span class="badge badge-pill badge-success" title="{{ upload }}">{{ upload|filesizeformat }}</span>.</p>
    <h2>Resources</h2>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>State</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="{% url 'resources.scheduled' %}">Scheduled</a></td>
          <td><span class="badge badge-pill badge-secondary">{{ scheduled_count }}</span></td>
        </tr>
        <tr>
          <td><a href="{% url 'resources.downloading' %}">Downloading</a></td>
          <td><span class="badge badge-pill badge-info">{{ downloading_count }}</span></td>
        </tr>
        <tr>
          <td><a href="{% url 'resources.successes' %}">Successes</a></td>
          <td><span class="badge badge-pill badge-success">{{ successes_count }}</span></td>
        </tr>
        <tr>
          <td><a href="{% url 'resources.failures' %}">Failures</a></td>
          <td><span class="badge badge-pill badge-danger">{{ failures_count }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock body %}
